:root {
  --clr-primary-light: ; 
  --clr-primary-dark: ;

  --clr-secondary-light: ;
  --clr-secondary-dark: ;

  --clr-ntrl-light: ;
  --clr-ntrl-dark: ; 

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Space Mono', monospace;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);
  --ff-code: var(--ff-secondary);

  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.2rem;

  --fs-p1: 1rem;
  --fs-p2: 0.9rem;
  --fs-p3: 0.8rem;

  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

}

/* general styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

/* custom classes*/

/* distinct styles*/

